.header{
  background-image: url("https://cf2.dropboxstatic.com/static/images/business/misc/top_pattern@2x-vfl7pUTT6.png");
  position: fixed;
    top: 0;
    z-index: 3;
    height: 70px;
    padding: 16px 0;
    background-color: #007ee5;
    background-image: url("https://cf2.dropboxstatic.com/static/images/business/misc/top_pattern-vflmwY5XG.png");
    background-size: 1050px 70px;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsletter__title{
  font-weight: 300;
  font-size: 28px;
  line-height: 44px;
  margin: 120px auto 0;
  text-align: center;
}

.button-primary {
    background-color: #007ee5;
    background-image: -webkit-linear-gradient(#168add, #007ee5);
    background-image: linear-gradient(#168add, #007ee5);
    border: 1px solid #0c6ebe;
    color: white;
}

.button-big {
    font-size: 16px;
}

.button-primary.button-big{
    padding: 10px 26px;
    width: 180px;
    border-width: 2px;
}


/*not specific enough
.newsletter__form{
  text-align: center;
}*/
#get-news{
  text-align: center;
}

.newsletter input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.newsletter input:first-of-type{
    margin-top: 20px;
}

.spinner{
  display:inline-block;
}




